.curso-main-container > .container
  overflow: hidden
.color-gris
  background-color: $lightest-gray
.color-gris-claro
  background-color: lighten($black, 95%)
  
.bloque-texto-a
  &.color-primario
    background-color: lighten($color-primario, 35%)

.cajon
  &.color-primario
    background-color: lighten($color-primario, 35%)


.tarjetas-claras
  .tarjeta
    &.color-primario
      background-color: lighten($color-primario, 25%)
    &.color-acento-contenido
      background-color: lighten($color-acento-contenido, 25%)


.tarjeta-b
  border-bottom-left-radius: 10px
  border-bottom-right-radius: 10px
  height: 100%
  &__punta
    display: flex
    justify-content: center
    position: relative
    img
      width: 56px
      position: relative
    &:before
      content: ''
      display: block
      position: absolute
      width: 100%
      top: 0
      left: 0
      height: 10px
      background-color: $color-acento-contenido
  &__content
    &__img
      display: flex
      justify-content: center
      img
        max-width: 80px
      &--lg
        img
          max-width: 130px

.bloque-texto-a
  &.reverse
    &:before
      left: 0
      right: 50%

.bloque-texto-b
  &.color-primario
    &:before
      background-color: lighten($color-primario, 35%)

.tarjeta-icono-a
  display: flex
  align-items: center
  margin-left: 40px
  &__img
    margin-left: -40px
    max-width: 80px
  &__texto

.tarjeta-especial-a
  height: 100%
  display: flex
  flex-direction: column
  &__header
    background-color: $color-acento-contenido
  &__content
    background-color: #F6F6F6
    height: 100%